* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

img {
    padding: 0.5rem;
}

.left-nav {
    display: flex;
    background-color: chartreuse;
}

.menu-list {
    display: flex;
}

.mid-nav {
    background-color: aquamarine;
}

.right-nav {
    background-color: chocolate;
}